:root {
  /* Primary Colors */
  --primary-light-red: hsl(0, 100%, 67%);
  --primary-orange-yellow: hsl(39, 100%, 56%);
  --primary-green-teal: hsl(166, 100%, 37%);
  --primary-cobalt-blue: hsl(234, 85%, 45%);

  /* Background Colors */
  --bg-slate-blue: hsl(252, 100%, 67%);
  --bg-royal-blue: hsl(241, 81%, 54%);

  /* Circle Colors */
  --circle-violet-blue: hsla(256, 72%, 46%, 1);
  --circle-persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral Colors */
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-pale-blue: hsl(221, 100%, 96%);
  --neutral-light-lavender: hsl(241, 100%, 89%);
  --neutral-dg-blue: hsl(224, 30%, 27%);

  /* Typography */
  --standard-font: "Hanken Grotesk", sans-serif;
  --p-size: 18px;

  /* Desktop Max Width */
  --desktop-max-width: 1440px;

  /* Mobile Max Width */
  --mobile-max-width: 375px;
}

/* Utility */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: var(--neutral-pale-blue);
}

.main-container {
  display: flex;
  width: 736px;
  height: 512px;
  background-color: #fff;
  margin-top: 100px;
  border-radius: 32px;
}
/* Left Card */
.left-card {
  display: flex;
  width: 50%;
  flex-direction: column;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 32px;
}

.left-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--neutral-pale-blue);
  margin-top: 38px;
}

.circle {
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.circle span {
  font-weight: 800;
  font-size: 72px;
  line-height: 72px;

}

.circle p {
  font-weight: 700;
  font-size: 18px;
  color: var(--neutral-pale-blue);
  opacity: 0.5168108344078064;
}

.left-card h3 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 28px;
}

.left-card p {
  font-size: 18px;
  font-weight: 500;
  color: var(--neutral-pale-blue);
  margin-top: 14px;
  width: 260px;
}


/* Right Card */

.right-card {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  color: black;
  padding: 38px 0 0 40px;
}

.right-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--neutral-dg-blue);
  padding-bottom: 28px;
}

/* Summary Section */

.reaction, .memory, .verbal, .visual  {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 288px;
  height: 56px;
  margin-bottom: 16px;
  border-radius: 12px;
  font-size: 18px;

}

.results p {
  color: var(--neutral-dg-blue);
  opacity: 0.5;
}

.results span {
  color: var(--neutral-dg-blue);
  margin-right: 8px;
}

/* Image padding */

.image {
  padding: 18px 12px 18px 16px;
}

/* Summary Backgrounds */
.reaction {
  background-color: hsl(0, 100%, 98%);
}

.memory {
  background-color: hsl(39, 100%, 98%);
}

.verbal {
  background-color: hsl(166, 100%, 98%);
}

.visual {
  background-color: hsl(234, 85%, 98%);
}
/* Title Color */
.reaction .title {
  color: var(--primary-light-red);
  opacity: 1;
}

.memory .title {
  color: var(--primary-orange-yellow);
  opacity: 1;
}

.verbal .title {
  color: var(--primary-green-teal);
  opacity: 1;
}

.visual .title {
  color: var(--primary-cobalt-blue);
  opacity: 1;
}

/* Figures Padding */

.reaction .figures {
  padding-left: 81px;
}

.memory .figures {
  padding-left: 84px;
}

.verbal .figures {
  padding-left: 99px;
}

.visual .figures {
  padding-left: 102px;
}

/* Button */

.button {
  width: 288px;
  height: 56px;
  border-radius: 128px;
  border: none;
  font-size: 18px;
  font-weight: 800;
  color: white;
  background-color: var(--neutral-dg-blue);
  margin-top: 37px;
}

.button:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;
}


/*Footer*/

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

@media only screen and (max-width: 375px) {

  .main-container {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 356px;
    background-color: #fff;
    border-radius: 32px;
    margin: 0;
}


  .left-card {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 0 0 32px 32px;
}

.left-card h2 {
  font-size: 18px;
  font-weight: 700;
  color: var(--neutral-light-lavender);
  margin-top: 24px;
}

.circle {
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.circle span {
  font-weight: 800;
  font-size: 56px;
  line-height: 72px;

}

.circle p {
  font-size: 16px;
  margin: 0;
}

.left-card h3 {
  font-size: 24px;
  margin-top: 24px;
}

.left-card p {
  font-size: 16px;
  margin-top: 8px;
  color: var(--neutral-light-lavender);
  font-weight: 400;
  margin-bottom: 40px;
}

/* Bottom Section */

.right-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  color: black;
  padding: 38px 30px 0 40px;
}

.right-card h2 {
  font-size: 18px;
  padding-bottom: 24px;
  padding-left: 2px;
}

.reaction, .memory, .verbal, .visual  {
  font-size: 16px;
}

.button {
  margin: 20px 0;
}

}