:root {
  /* Primary Colors */
  --primary-light-red: hsl(0, 100%, 67%);
  --primary-orange-yellow: hsl(39, 100%, 56%);
  --primary-green-teal: hsl(166, 100%, 37%);
  --primary-cobalt-blue: hsl(234, 85%, 45%);

  /* Background Colors */
  --bg-slate-blue: hsl(252, 100%, 67%);
  --bg-royal-blue: hsl(241, 81%, 54%);

  /* Circle Colors */
  --circle-violet-blue: hsla(256, 72%, 46%, 1);
  --circle-persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral Colors */
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-pale-blue: hsl(221, 100%, 96%);
  --neutral-light-lavender: hsl(241, 100%, 89%);
  --neutral-dg-blue: hsl(224, 30%, 27%);

  /* Typography */
  --standard-font: "Hanken Grotesk", sans-serif;
  --p-size: 18px;

  /* Desktop Max Width */
  --desktop-max-width: 1440px;

  /* Mobile Max Width */
  --mobile-max-width: 375px;
}

/* Utility */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: var(--neutral-pale-blue);
}

.main-container {
  display: flex;
  width: 736px;
  height: 512px;
  background-color: #fff;
  margin-top: 100px;
  border-radius: 32px;
}
/* Left Card */
.left-card {
  display: flex;
  width: 50%;
  flex-direction: column;
  background-color: var(--bg-slate-blue);
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 32px;
}

.left-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--neutral-pale-blue);
  margin-top: 38px;
}

.circle {
  background-color: var(--bg-royal-blue);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.circle span {
  font-weight: 800;
  font-size: 72px;
  line-height: 72px;

}

.circle p {
  font-weight: 700;
  font-size: 18px;
  color: var(--neutral-pale-blue);
  opacity: 0.5168108344078064;
}

.left-card h3 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 28px;
}

.left-card p {
  font-size: 18px;
  font-weight: 500;
  color: var(--neutral-pale-blue);
  margin-top: 14px;
  width: 260px;
}


/* Right Card */

.right-card {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
}

.right-card h2 {

}

/*Footer*/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
